body{
  font-family: ubuntu;

}
#title{

  background-image: url(../images/blackbricks.jpg);
/**/
}

/*trying to put font animations*/

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #FCFFB2 0%,
    #FCFFB2 29%,
    #F96666 67%,
    #FCFFB2 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 4rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

embed{
  border: 5px solid #FCFFB2;
  border-radius: 30px;
}
.responsive {
  width: 100%;
  height: auto;
}
.imageS{
  box-shadow: 100px 100px 5px #ccc;
}
.phone{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900; /* black */
  font-size: 1.5rem;
  line-height: 1.5;
  color:#DD5353;
  text-shadow: 0px 2px 3px #100720;
}



.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900; /* black */
  font-size: 4rem;
  line-height: 1.5;
  color:#FA7D09;
  text-shadow: 0px 2px 3px #100720;
}
p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900; /* black */
  text-shadow: 0px 2px 3px #100720;
  color:#FA7D09;
}

/* Navigation Bar */

.navbar-brand{

  font-size: 2rem;
  font-weight: bold;
  color:#FFF4CF;
}
.nav-item{
  font-size: 1.2rem;
}
.px-10 {
    padding-right: 6rem!important;
    padding-left: 6rem!important;
}


#features{
  background: rgb(44,6,31);
  background: linear-gradient(90deg, rgba(44,6,31,1) 0%, rgba(93,76,49,1) 100%);
  padding: 5% 7%;
}


hr{
  border-top: 20px dotted #FA7D09;
  margin: 0rem 12rem 0rem 12rem;

}
h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900; /* black */
  font-size: 3rem;
  line-height: 1.5;
  color:#FA7D09;
  text-shadow: 0px 2px 3px #100720;
}

.symbol{
  color:#FFF5E1;
}
.symbol:hover{
  color:#FA7D09;
}
/*menu section
this section is responsiable to show the menus in order
with a fiting back ground color*/
#menus,#footer,#contactUs{

  background-image: url(../images/blackbricks.jpg);
}
#pricing{
  background-color: #FFF5E1;
}
.bg-transparent{
background-color: rgba(0, 0, 0, 0.5) !important;
}
